<app-header2></app-header2>
<div class="section">
    <div class="container">
      <div class="content-section">
        <div class="title">
          <h1>Welcome to Kumak</h1>
        </div>
        <div class="content">
          <h2>Enter a world of comfort and charm — where every item adds a touch of elegance to your everyday living.</h2>
          <p><b>Kumak</b>  is a cozy corner for those who find joy in the little things — soft textures, calming colors, and the warmth of a well-loved home.
            Created with the dream of bringing comfort and beauty into everyday life,
            we offer a carefully chosen collection of home goods that inspire slow living, gentle moments, and spaces that truly feel like yours.</p>
          <div class="button">
            <a href="https://wsp.kbtu.kz/">Read More</a>
          </div>
        </div>
      </div>
      <div class="image-section">
      <img src="https://t3.ftcdn.net/jpg/02/56/52/86/360_F_256528624_UQKvTlEaLMy9nRNX2GRoHnC11yjX0M3L.jpg" alt="Happy family">
    </div>
    </div>
  </div>
<app-footer></app-footer>