<app-header2></app-header2>
<div class="row">
    <div class="column">
      <div class="card">
        <img class="photo" src="https://avatars.mds.yandex.net/i?id=ec7e6c98a7ede682c8cd7546223b7b1b_l-5235392-images-thumbs&n=13" alt="Dilnaz" style="width:300px">
        <div class="container">
          <h2>Satybaldy Dilnaz</h2>
          <p class="title">CEO &amp; Founder</p>
          <p>Dilnaz is an innovative and dedicated leader who strives to turn his ideas into reality.  Their leadership style promotes collaboration, creativity, and the desire to exceed expectations.</p>
          <p> <b>Email: </b>d_satybaldy&#64;kbtu.kz</p>
          <p><button class="button"><a routerLink="not-found/">Contact</a></button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img class="photo"  src="https://stihi.ru/pics/2017/02/04/8510.jpg" alt="Komron" style="width:300px;"/>
        <div class="container">
          <h2>Komron Sodiqov</h2>
          <p class="title">Designer</p>
          <p>A talented designer who loves creating beautiful and easy-to-use designs. With a great eye for detail and a good understanding of design, they bring ideas to life with clear and thoughtful visuals. Their work focuses on making every project not just look good, but feel right.</p>
          <p><b>Email: </b>k_sodiqov&#64;kbtu.kz</p>
          <p><button class="button"><a routerLink="not-found/">Contact</a></button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img  class="photo" src="https://avatars.mds.yandex.net/i?id=aa1b059ba92fdabbe01bc2b63f3972c1_l-5236673-images-thumbs&n=13" alt="Rustam" style="width:300px">
        <div class="container">
          <h2>Khalimov Rustam</h2>
          <p class="title">Art Director</p>
          <p>Rustam is a creative art director who tells stories through striking visuals. She brings ideas to life across mediums with passion and collaboration.</p>
          <p><b>Email: </b>r_khalimov&#64;kbtu.kz</p>
          <p><button class="button"><a routerLink="not-found/">Contact</a></button></p>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>